<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-59441941-11"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-59441941-11')
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS Class Search</title>

    <link rel="icon" type="image/png" sizes="32x32" href="images/icon-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/icon-16.png" />

    <meta
      name="twitter:image:src"
      content="https://repository-images.githubusercontent.com/253098435/861bd180-773a-11ea-9f81-c1b911848a21"
    />
    <meta name="twitter:site" content="@dtinth" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Tailwind CSS Class Search" />
    <meta
      name="twitter:description"
      content="Search for a Tailwind utility class name by its generated CSS"
    />
    <meta
      property="og:image"
      content="https://repository-images.githubusercontent.com/253098435/861bd180-773a-11ea-9f81-c1b911848a21"
    />
    <meta property="og:site_name" content="@dtinth" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Tailwind CSS Class Search" />
    <meta property="og:url" content="https://tailwind.spacet.me/" />
    <meta
      property="og:description"
      content="Search for a Tailwind utility class name by its generated CSS"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/vue-virtual-scroller@1.0.4/dist/vue-virtual-scroller.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/comic-mono@0.0.1/index.css"
    />
    <link
      id="mainStylesheet"
      rel="stylesheet"
      href="generated/css-purged/tailwind.css"
    />
  </head>
  <body class="bg-353433 text-e9e8e7">
    <div id="app" class="absolute inset-0 flex flex-col">
      <div class="p-4 max-w-2xl flex-none">
        <div class="py-2 px-3">
          <h1 class="font-bold text-bbeeff inline">
            <span class="font-normal text-8b8685">@</span
            ><span class="text-d7fc70">dtinth</span>’s Tailwind CSS Class Search
          </h1>
          <p class="inline">
            <span class="text-8b8685">—</span>
            Having trouble memorizing all
            <template v-if="totalCount">{{totalCount}}</template
            ><span v-else>the</span> utility classes in Tailwind? Remembered the
            CSS code, but did not remember which is the corresponding Tailwind
            CSS utility class? Search for it here!
          </p>
        </div>
        <p>
          <input
            type="search"
            v-model="searchText"
            class="block w-full form-input bg-090807 border-454443 hover:border-656463 shadow placeholder-8b8685"
            placeholder="Search by utility class name or generated CSS code"
          />
        </p>
      </div>
      <div
        class="border-t border-656463 bg-454443 px-4 flex font-bold text-8b8685 text-xs uppercase"
      >
        <div class="w-1/4 flex-none px-3">
          class
        </div>
        <div class="w-3/4 flex-none pr-3">
          style
        </div>
      </div>
      <div class="flex-1 overflow-scroll scrolling-touch">
        <div v-if="!searchedText" class="p-4 h-full flex flex-col">
          <div class="p-3 text-8b8685 flex-none">
            <p class="text-xl">
              <template v-if="ready">
                <strong>Ready.</strong> Please enter a search term above to get
                started.
              </template>
              <template v-else>
                Please wait — {{status}}
              </template>
            </p>
            <p class="mt-2" v-if="loadedFile">
              Searching in: {{loadedFile}}
            </p>
          </div>
          <div class="mt-8 text-8b8685 flex-none mt-auto p-3">
            <p class="text-8b8685 mt-8">
              Source code available at
              <a
                href="https://github.com/dtinth/tailwind-search"
                target="_blank"
                class="underline"
                >github.com/dtinth/tailwind-search</a
              >.<br />
              You can
              <a
                href="https://dt.in.th/go/coffee"
                target="_blank"
                class="underline"
                >buy me a coffee</a
              >, if you feel like doing it ;).
            </p>
          </div>
        </div>
        <div
          v-else-if="!matchingEntries.length"
          class="p-8 text-center text-8b8685 text-2xl"
        >
          No results found :(
        </div>
        <recycle-scroller
          v-else
          class="h-full"
          :items="matchingEntries"
          size-field="size"
          key-field="className"
          v-slot="{ item: entry }"
        >
          <entry-row :entry="entry"></entry-row>
        </recycle-scroller>
      </div>
    </div>
    <script src="https://unpkg.com/css-tree@1.0.0-alpha.39/dist/csstree.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-virtual-scroller@1.0.4/dist/vue-virtual-scroller.min.js"></script>
    <script src="https://unpkg.com/fuzzysort@1.1.4/fuzzysort.js"></script>
    <script src="index.js"></script>
    <script>
      function renderApp() {
        return new Vue({
          el: '#app',
          data: {
            search: () => [],
            status: 'Loading Tailwind CSS source...',
            searchText: '',
            searchedText: '',
            loadedFile: '',
            totalCount: 0,
            ready: false,
          },
          watch: {
            searchText() {
              requestAnimationFrame(() =>
                requestAnimationFrame(() => {
                  if (this.searchedText !== this.searchText) {
                    this.searchedText = this.searchText
                  }
                }),
              )
            },
          },
          computed: {
            matchingEntries() {
              return this.search(this.searchedText).map((entry) => {
                return {
                  ...entry,
                  size: entry.results.length * 24 + 8,
                }
              })
            },
          },
        })
      }
      {
        // This allows Prettier to format the template using template: html`...`
        const html = String.raw

        Vue.component('entry-row', {
          props: ['entry'],
          template: html`<div
            class="border-t border-454443 px-4 flex text-sm"
            style="padding-top: 6px;"
          >
            <div class="font-mono font-bold w-1/4 flex-none px-3 truncate">
              <a
                class="text-bbeeff -mx-1 px-1 -my-1 hover:text-black hover:bg-bbeeff"
                href="javascript:"
                @click="copyTextToClipboard(entry.className)"
                >{{entry.className}}</a
              >
            </div>
            <div class="font-mono w-3/4 flex-none pr-3">
              <div
                v-for="(result, i) of entry.results"
                :key="i"
                class="truncate"
                style="height: 24px;"
              >
                <span
                  v-for="(prefix, j) of result.prefix"
                  :key="'pre' + j"
                  class="text-8b8685"
                >
                  {{prefix}} {
                </span>
                <css-declaration
                  :declaration="declaration"
                  v-for="(declaration, j) of result.declarations"
                  :key="'declaration' + j"
                ></css-declaration>
                <span
                  v-for="(prefix, j) of result.prefix"
                  :key="'post' + j"
                  class="text-8b8685"
                >
                  }
                </span>
              </div>
            </div>
          </div>`,
          methods: {
            copyTextToClipboard(text) {
              var copyFrom = document.createElement('textarea')
              copyFrom.textContent = text
              document.body.appendChild(copyFrom)
              copyFrom.select()
              document.execCommand('copy')
              copyFrom.blur()
              document.body.removeChild(copyFrom)
            },
          },
        })

        Vue.component('css-declaration', {
          props: ['declaration'],
          computed: {
            property() {
              return this.declaration.property
            },
            value() {
              return this.declaration.value
            },
          },
          template: html`<span>
            <span style="color: #73fcd6;">{{property}}</span
            ><span class="text-8b8685">: </span
            ><span :style="style(property, value)">{{value}}</span
            ><span class="text-8b8685">; </span>
          </span>`,
          methods: {
            style(property, value) {
              if (property === 'color') {
                return { color: value }
              }
              if (property === 'background-color') {
                return { background: value }
              }
              if (property === 'border-color') {
                return { outline: `1px solid ${value}` }
              }
              return {}
            },
          },
        })
      }
    </script>

    <script>
      const reportStatus = async (text) => {
        vm.status = text
        await new Promise((r) =>
          requestAnimationFrame(() => requestAnimationFrame(r)),
        )
      }
      async function loadTailwindCSS(url) {
        try {
          const response = await fetch(url)
          vm.loadedFile = response.url

          await reportStatus('Reading Tailwind CSS source...')
          const css = await response.text()

          const { entries, search } = await tailwindCssClassSearch(css, {
            reportStatus,
          })

          // Provide access to all entries
          window.entries = entries

          // Inject search function
          vm.search = search
          vm.ready = true
          vm.totalCount = entries.length
        } catch (e) {
          await reportStatus('Failed: ' + e)
          console.error(e)
        }
      }
      vm = renderApp()
      loadTailwindCSS('https://unpkg.com/tailwindcss/dist/tailwind.css')
    </script>
    <script>
      // Load full CSS when developing locally
      if (new URLSearchParams(location.search).get('dev')) {
        mainStylesheet.href = 'generated/css-full/tailwind.css'
      }
    </script>
  </body>
</html>
